$variant: 'dark';
$darker: 'false';
$darkest: 'true';
$transparency: 'true';
$windowOutline: 'false';

@import "gtk-sass/_colors"; //use gtk colors
@import "cinnamon-sass/_drawing";
@import "cinnamon-sass/_common";
