$variant: 'dark';
$asset_suffix: '-dark';
$transparency: 'true';
$selected_bg_color: #2777ff;
$selected_fg_color: #ffffff;

@import "common/_colors";
@import "cinnamon/_drawing";
@import "cinnamon/_common";
