/*
Aquí puede escribir reglas de CSS reconocidas por GTK+.
Puede desactivar temporalmente este CSS personalizado pulsando el botón «Pausa» de más arriba.

Los cambios se aplican instantánea y globalmente para toda la */


.sidebar { border-top: 1px solid rgb(43,46,57); }

notebook { background: rgba(255,255,255, .8) }
notebook header { background: transparent; }
notebook stack { background: white; }
tabs {margin: 0 5px; }
tab { color: black; margin: 0; }



tab:not(:checked):not(:hover) {
	box-shadow: 4px 3px 0 -3px rgba(0,0,0,.1);
	border-radius: 0;
	transition-duration: 200ms;
}

tab:not(:checked):backdrop { color:#666; }


.path-bar-box { background: transparent; }

headerbar .text-button:last-child:not(:first-child) {
	padding: 0 6px;
	border: 0;
}

headerbar .text-button:last-child { box-shadow: none; }

headerbar .text-button image:first-child { margin-left: 6px; }

headerbar .text-button:not(:last-child):not(:hover) {
	border-radius: 100px;
	box-shadow: 4px 0 0 -3px rgba(0,0,0,.2);
}

headerbar .text-button:nth-last-child(2):not(:hover) { box-shadow: none; }

.menu { border-radius: 6px; }

.app-notification { border-radius: 6px; padding: 5px; margin-top: 10px; }
