headerbar {
    background: linear-gradient(to right, transparent 250px,  rgba(255,255,255,.8) 0);
    box-shadow: inset 260px -10px 0 -10px rgba(26,26,26,.93), inset 51px -10px 0 -10px rgba(0,0,0,.93);
    padding-left: 43px;
}

placessidebar {
    min-width: 250px;
    background: rgba(26,26,26,.93);
    box-shadow: inset 41px 0 0 0px rgba(0,0,0,.93);
}

separator {
    background: transparent;
}

headerbar > .horizontal.raised.linked { margin-right: 150px;}
headerbar > .horizontal.raised.linked > button { color: white; }
headerbar > .horizontal.raised.linked > button:hover { background: rgba(26,26,26,.93); border-color: black; }

.path-bar-box .image-button { padding: 4px 10px; }
