.sidebar { border-top: 1px solid rgb(43,46,57); }

notebook { background: rgba(255,255,255, .8) }
notebook header { background: transparent; }
notebook stack { background: white; }
tabs {margin: 0 5px; }
tab { color: black; margin: 0; }



tab:not(:checked):not(:hover) {
    box-shadow: 4px 3px 0 -3px rgba(0,0,0,.1);
    border-radius: 0;
    transition-duration: 200ms;
}

tab:not(:checked):backdrop { color:#666; }

headerbar .text-button:last-child:not(:first-child) {
    padding: 0 6px;
    border: 0;
}

headerbar .text-button image:first-child { margin-left: 6px; }

.app-notification { border-radius: 6px; padding: 5px; margin-top: 10px; }
