@define-color accent_bg_color #2777ff;
@define-color accent_fg_color #ffffff;
@define-color accent_color @accent_bg_color;
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color white;
@define-color destructive_color @red_4;
@define-color success_bg_color @green_4;
@define-color success_fg_color white;
@define-color success_color #1b8553;
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;
@define-color error_bg_color @red_3;
@define-color error_fg_color white;
@define-color error_color @red_4;
@define-color window_bg_color #fafafa;
@define-color window_fg_color rgba(0, 0, 0, 0.8);
@define-color view_bg_color #ffffff;
@define-color view_fg_color rgba(0, 0, 0, 0.8);
@define-color headerbar_bg_color #ebebeb;
@define-color headerbar_fg_color rgba(0, 0, 0, 0.8);
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @view_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.12);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.12);
@define-color sidebar_bg_color #ebebeb;
@define-color sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color sidebar_backdrop_color mix(@sidebar_bg_color, @window_bg_color, .5);
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_border_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color mix(@sidebar_bg_color, @window_bg_color, .5);
@define-color secondary_sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color secondary_sidebar_backdrop_color mix(@secondary_sidebar_bg_color, @window_bg_color, .5);
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.07);
@define-color card_bg_color #ffffff;
@define-color card_fg_color rgba(0, 0, 0, 0.8);
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #ffffff;
@define-color dialog_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color white;
windowcontrols {
  margin: 8px; }
  windowcontrols button {
    min-height: 16px;
    min-width: 16px;
    margin: -3px; }
    windowcontrols button.minimize image, windowcontrols button.maximize image, windowcontrols button.close image {
      padding: 0;
      color: transparent;
      background-image: -gtk-scaled(url("assets/titlebutton.png"), url("assets/titlebutton@2.png"));
      background-position: center;
      background-repeat: no-repeat;
      background-size: 8px;
      box-shadow: 0 0 5px 0 alpha(@headerbar_bg_color, 10); }
      windowcontrols button.minimize image:backdrop, windowcontrols button.maximize image:backdrop, windowcontrols button.close image:backdrop {
        background-color: #7f7f7f;
        background-image: -gtk-scaled(url("assets/titlebutton.png"), url("assets/titlebutton@2.png")); }
    windowcontrols button.minimize image {
      background-color: #fd7d00; }
      windowcontrols button.minimize image:hover {
        background-image: -gtk-scaled(url("assets/minimize.png"), url("assets/minimize@2.png")); }
    windowcontrols button.maximize image {
      background-color: #377cf1; }
      windowcontrols button.maximize image:hover {
        background-image: -gtk-scaled(url("assets/maximize.png"), url("assets/maximize@2.png")); }
    windowcontrols button.close image {
      background-color: #d31919; }
      windowcontrols button.close image:hover {
        background-image: -gtk-scaled(url("assets/close.png"), url("assets/close@2.png")); }

window.background {
  background: linear-gradient(to bottom, alpha(@headerbar_bg_color, .8) 46px, @view_bg_color 46px); }

window.background headerbar {
  background-color: transparent;
  color: alpha(@headerbar_fg_color, 2); }
