window.background {
  background: linear-gradient(to bottom, #{"alpha(@headerbar_bg_color, .8)"} 46px, #{"@view_bg_color"} 46px);
}

window.background headerbar {
  background-color: transparent;
  color: #{"alpha(@headerbar_fg_color, 2)"};
}
