/**********
 * Entry *
 **********/
%entry,
entry { background: $base_color; }

%slider,
scale slider {
  background: lighten($base_color, 20%);
  border-color: $base_color;
}

/**********
 * Switch *
 **********/
switch {
  background: $base_color;
}

/**********************
 * Window Decorations *
 *********************/
decoration {
  box-shadow: 0 2px 8px 0 black,
              0 0 0 1px $_wm_border;

  &:backdrop {
    box-shadow: 0 2px 8px 0 transparent,
                0 0 5px 3px transparentize(black, .75),
                0 0 0 1px $_wm_border;
  }

  .csd.popup & {
    box-shadow: 0 1px 6px black,
                0 0 0 1px $_wm_border;
  }

  messagedialog.csd & {
    box-shadow: 0 1px 4px black;
  }
}
