$variant: 'light';
$darker: 'true';
$darkest: 'false';
$transparency: 'false';
$windowOutline: 'false';

@import 'gtk-sass/_colors';
@import 'gtk-sass/_drawing';
@import 'gtk-sass/_common';
@import 'gtk-sass/_applications';
@import 'gtk-sass/_libhandy';
@import 'gtk-sass/_granite';
@import 'gtk-sass/_transparent_widgets';
@import 'gtk-sass/_colors-public';
