//apps rely on some named colors to be exported

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var
@define-color theme_fg_color #{"" + $fg_color};
@define-color theme_text_color #{"" + $text_color};
@define-color theme_bg_color #{"" + $bg_color};
@define-color theme_base_color #{"" + $base_color};
@define-color theme_selected_bg_color #{"" + $selected_bg_color};
@define-color theme_selected_fg_color #{"" + $selected_fg_color};
@define-color fg_color #{"" + $fg_color};
@define-color text_color #{"" + $text_color};
@define-color bg_color #{"" + $bg_color};
@define-color base_color #{"" + $base_color};
@define-color selected_bg_color #{"" + $selected_bg_color};
@define-color selected_fg_color #{"" + $selected_fg_color};
@define-color insensitive_bg_color #{"" + $insensitive_bg_color};
@define-color insensitive_fg_color alpha(#{"" + opacify($insensitive_fg_color, 1)}, 0.5);
@define-color insensitive_base_color #{"" + $base_color};
@define-color theme_unfocused_fg_color #{"" + $fg_color};
@define-color theme_unfocused_text_color #{"" + $text_color};
@define-color theme_unfocused_bg_color #{"" + $bg_color};
@define-color theme_unfocused_base_color #{"" + $base_color};
@define-color theme_unfocused_selected_bg_color #{"" + $selected_bg_color};
@define-color borders #{"" + $borders_color};
@define-color unfocused_borders #{"" + $borders_color};

@define-color warning_color #{"" + $warning_color};
@define-color error_color #{"" + $error_color};
@define-color success_color #{"" + $success_color};
@define-color placeholder_text_color #A8A8A8;
@define-color link_color #{"" + $link_color};

@define-color content_view_bg #{"" + $base_color};

@define-color budgie_tasklist_indicator_color #{"" + lighten($selected_bg_color, 10%)};
@define-color budgie_tasklist_indicator_color_active #{"" + $selected_bg_color};
@define-color budgie_tasklist_indicator_color_active_window #{"" + darken($selected_bg_color, 10%)};;
@define-color budgie_tasklist_indicator_color_attention #{"" + $warning_color};



/* Strawberry */
@define-color STRAWBERRY_100 #e57575;
@define-color STRAWBERRY_300 #dd4747;
@define-color STRAWBERRY_500 #d41919;
@define-color STRAWBERRY_700 #aa1414;
@define-color STRAWBERRY_900 #7f0f0f;

/* Orange */
@define-color ORANGE_100 #feb166;
@define-color ORANGE_300 #fd9733;
@define-color ORANGE_500 #fd7d00;
@define-color ORANGE_700 #ca6400;
@define-color ORANGE_900 #984b00;

/* Banana */
@define-color BANANA_100 #fbeba4;
@define-color BANANA_300 #f9e586;
@define-color BANANA_500 #f8de68;
@define-color BANANA_700 #ffd259;
@define-color BANANA_900 #ffc730;

/* Lime */
@define-color LIME_100 #6dc79e;
@define-color LIME_300 #3db47e;
@define-color LIME_500 #0ca15e;
@define-color LIME_700 #0a814b;
@define-color LIME_900 #076138;

/* Blueberry */
@define-color BLUEBERRY_100 #86b0f6;
@define-color BLUEBERRY_300 #5e95f3;
@define-color BLUEBERRY_500 #367bf0;
@define-color BLUEBERRY_700 #2b62c0;
@define-color BLUEBERRY_900 #204a90;

/* Grape */
@define-color GRAPE_100 #ae7ac4;
@define-color GRAPE_300 #9755b3;
@define-color GRAPE_500 #7e3c9a;
@define-color GRAPE_700 #622e78;
@define-color GRAPE_900 #462155;

/* Cocoa */
@define-color COCOA_100 #bd9777;
@define-color COCOA_300 #aa7a50;
@define-color COCOA_500 #916137;
@define-color COCOA_700 #714b2b;
@define-color COCOA_900 #50351e;

/* Silver */
@define-color SILVER_100 #ffffff;
@define-color SILVER_300 #cccccc;
@define-color SILVER_500 #b3b3b3;
@define-color SILVER_700 #999999;
@define-color SILVER_900 #7f7f7f;

/* Slate */
@define-color SLATE_100 #9c9ea5;
@define-color SLATE_300 #737680;
@define-color SLATE_500 #4c4f5c;
@define-color SLATE_700 #333643;
@define-color SLATE_900 #272a34;

/* Black */
@define-color BLACK_100 #666666;
@define-color BLACK_300 #4c4c4c;
@define-color BLACK_500 #333333;
@define-color BLACK_700 #191919;
@define-color BLACK_900 #000000;




$_borders_edge: if($variant == 'light', transparentize(white, 0.2),
                  transparentize($fg_color, 0.93));

/*
insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #{"" + $insensitive_fg_color};

$_wm_highlight: if($variant=='light', $_borders_edge,  // Sass gets mad if this is
                  transparentize(black,1));          // done directly in the
                                                     // color definition

@define-color wm_title shade(#{$fg_color}, 1.8);
@define-color wm_unfocused_title #{$fg_color};
@define-color wm_highlight #{"" + $_wm_highlight};
@define-color wm_borders_edge #{"" + $_borders_edge};

@define-color wm_bg_a shade(#{$bg_color}, 1.2);
@define-color wm_bg_b #{$bg_color};

@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);

@define-color wm_button_hover_color_a shade(#{$bg_color}, 1.3);
@define-color wm_button_hover_color_b #{$bg_color};
@define-color wm_button_active_color_a shade(#{$bg_color}, 0.85);
@define-color wm_button_active_color_b shade(#{$bg_color}, 0.89);
@define-color wm_button_active_color_c shade(#{$bg_color}, 0.9);


@define-color text_view_bg #{"" + if($variant == 'light', $base_color, darken($base_color,6%))};
